* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    width: 320px;
    background-color: hsl(0, 0%, 100%);
    /* margin: 50px auto; */
    border-radius: 20px;
    padding: 16px 16px 20px;
}
.card-img img {
    width: 100%;
    border-radius: 10px;
}
.card-body {
    padding: 20px 18px;
}
.card-body h3 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    margin-bottom: 15px;
}
.card-body p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    letter-spacing: 0.2px;
}

.attribution { 
    font-size: 11.5px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
